 form input{
  color: blue;
}

div input{  
  color: green;
}
@keyframes animar{
  from {
    background-color: yellow;
    
  }
  to{
    background-color: blue;
   
  }
}
input[type="submit"] {
  animation-name: animar;
  animation-duration: 10s;
  animation-iteration-duration: infinite;
}
